

div{
    
    font-family:Impact;
    font-size: 30pt;
    
}

.name{
    margin-left: 5px;
    display: inline;
}

.info{
    font-family:Helvetica;
    display: inline;
    margin-left: 1105px;
    
}



